/* You can add global styles to this file, and also import other style files */

* {
    border-radius: 0px !important;
}

body {
    font-family: 'Montserrat', sans-serif;    
}

h1 {
    font-size: 24px;
}

.primera {
    margin-top: 100px;
    margin-bottom: 40px;
}

.btn {
    margin-left: 10px;
}